@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

body{
    font-family: 'Red Hat Display', sans-serif;
    background: #adbcfa;
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-card{
    width: 400px;
    height: auto;
    background: #fff;
    border-radius: 15px;
}

.main-image{
    width: 400px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.header{
    padding-top: 30px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: hsl(223, 47%, 23%);
}

.card-detail p{
    text-align: center;
    font-size: 14px;
    line-height: 1.5em;
    color: hsl(223, 47%, 23%);
    letter-spacing: 0.5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.plan-section{
    display: flex;
    background: hsl(225, 100%, 94%, 50%);
    width: 80%;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
}

.plan-section p{
    font-size: 15px;
    font-weight: bold;
    margin-left: 20px;
}

.plan-section small{
    font-weight: normal;
    line-height: 0.5rem;
}

.plan-section img{
    width: 40px;
    height: 40px;
    float: left;
}

.plan-section .change{
    margin-left: 120px;
    margin-top: 8px;
    display: inline-block;
}

.button{
    text-align: center;
    margin: 20px;
    padding: 10px;
}

.main-btn{
    margin-top: 25px;
    margin-bottom: 25px;
    width: 80%;
    height: 40px;
    background: hsl(245, 75%, 52%);
    color: hsl(225, 100%, 94%);
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 90px -25px hsl(223, 47%, 23%);
    cursor: pointer;
}

.order-cancle{
    cursor: pointer;
}